{% extends 'basic.html' %}
{% load static %}
{% block title %}
HOME-Hospital management
{% endblock %}

{% block body %}
<!-- <style>
.mydivstyle:hover {
box-shadow: 0 0 20px 0 rgba(28, 8, 204, 0.3);
transform: translateY(-20px);
}
</style>
<div class="container" style="margin-top: 50px;">
    <h2 class="text-center">Contact Us</h2>
    <div class="row mt-5 text-center">
        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fa fa-phone-square"></i>Contact</h4>
            <p class="mt-3 font-weight-bold"><a class="text-danger" href="tel: +91 91230-92581">+91 91230-92581</a></p>
        </div>

        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fa fa-envelope"></i> Send Email</h4>
            <p class="mt-3 font-weight-bold"><a class="text-danger"
                    href="mailto:pawanswami243@gmail.com">pawanswami243@gmail.com</a></p>
        </div>

        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fa fa-address-card"></i> Office Address</h4>
            <p class="mt-3 font-weight-bold"><a class="text-danger"
                    href="http://maps.google.com/maps?q=moter+pallu">Moter, Rajasthan</a></p>
        </div>

        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fa fa-clock-o"></i> Office Hours</h4>
            <p class="mt-3 font-weight-bold"><a class="text-danger">9:00 AM to 9:00 PM</a></p>
        </div>
    </div>
</div> -->
<section class="contact-title text-center">
    <div class="contact-wrapper">
        <div class="container">
            <div class= "row">
                <div>
                    <h1 class="headline">Contact us</h1>
                </div>
            </div>
            <div class="row">
                <div class="sub-headline">
                    <p>Lorem ipsum dolor sit amet, consectetur </p>
                </div>
            </div>	
        </div>
    </div>
</section>


<section class="contact-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="google-map">
                    <div id="map-canvas"></div>
                </div>
                <div class="quick-contact">
                    <h3>Quick Contact</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <i class="fa fa-home"></i> 
                                <span>Full Address:</span> 
                                62 West 55th Street, Suite 302 New York, NY, 10230
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <i class="fa fa-phone"></i>
                                <span>Cell No:</span>
                                 +880 1234567890
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <i class="fa fa-fax"></i> 
                                <span>Fax No:</span>
                                +58 - 0123456789
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <i class="fa fa-ambulance"></i>
                                <span>Ambulance:</span>
                                 + 000 987654321
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class= "appointment">
                    
                    <div class="header text-center">
                        <h2>Make an Appointment</h2>
                           <a href="#" class="number">
                               <i class="fa fa-phone fa-fw"></i>
                            1-234-567-890
                           </a>
                        <span class="or">OR</span>
                    </div>

                    <!-- form of appointment -->
                    <div class="row">
                        <form method="post" action="#">
                            <div class= "form">
                                <div class="input-group margin-bottom-sm col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                     <input class="form-control" type="text" placeholder="Full Name *" required>
                                </div>
                                <div class="input-group margin-bottom-sm col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                     <input class="form-control" type="text" placeholder="Email Address *" required>
                                </div>
                                <div class="input-group margin-bottom-sm col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                     <input class="form-control" type="text" placeholder="Appointment Date *" required>
                                </div>
                                <div class="input-group margin-bottom-sm col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                     <input class="form-control" type="text" placeholder="Mobile Number *" required>
                                </div>
                            </div>
                            <div class="input-group margin-bottom-sm col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                <textarea class="form-control" rows="6" placeholder="Your Problem *" required></textarea>
                            </div>
                            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                <div class="captcha-container">
                                    <label>Are you human? </label><br/>
                                    <img src="http://inspirythemesdemo.com/healthpress/wp-content/themes/healthpress-theme/captcha/captcha.php" alt="">
                                    <input type="text" class="captcha required" name="captcha" maxlength="5" title=" Please enter the code characters displayed in image!">
                                </div>
                                <input class="btn btn-primary send" type="submit" value="Send">
                            </div>
                        </form>
                    </div>
                    <!-- end of form -->
                </div><!-- end of appointment-->
            </div>
        </div>
    </div>
</section>


<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="text-center contact">
                    <li class= "socials-icons">
                        <a href="#" data-toggle="tooltip" title="Share in Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class= "socials-icons">
                        <a href="#" data-toggle="tooltip" title="Share in Twitter" class="twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class= "socials-icons">
                        <a href="#" data-toggle="tooltip" title="Share in Google +" class="google-plus"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li class= "socials-icons">
                        <a href="#" data-toggle="tooltip" title="Share in Instagram" class="instagram"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class= "socials-icons">
                        <a href="#" data-toggle="tooltip" title="Share in Pinterest" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li class= "socials-icons">
                        <a href="#" data-toggle="tooltip" title="Connect with Skype" class="skype"><i class="fa fa-skype"></i></a>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copy-right-text text-center">
                    &copy; Copyright 2020, made with <i class="fa fa-heart-o"></i> by <a href="https://pawan243.github.io/portfolio1/">Pawan Kumar</a>
                </div>
            </div>
        </div>
    </div>
</section> 


<script>
  function initialize() {
    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(24.900392, 91.853181),
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions)
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script>
      new WOW().init();
</script>

{% endblock %}