{% extends 'basic.html' %}
{% block title %}
HOME-Hospital management
{% endblock %}

{% block css %}

{% endblock %}

{% block body %}
<div class="container" style="margin-top: 50px;">
    <h2>Welcome To Hospital Management System</h2>
    <div class="row">
        <div class="col-lg-4 text-center">
            <h2 style="color:blue">{{d}}</h2>
            <a href="{% url 'view_doctor' %}"><h4 style="color:red">Doctors</h4></a>
        </div>
        <div class="col-lg-4 text-center">
            <h2 style="color:blue">{{p}}</h2>
            <a href="{% url 'view_patient' %}"><h4 style="color:red">Patient</h4></a>
        </div>
        <div class="col-lg-4 text-center">
            <h2 style="color:blue">{{a}}</h2>
            <a href="{% url 'view_appoinment' %}"><h4 style="color:red">Appoinments</h4></a>
        </div>
    </div>
</div>
{% endblock %}