<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>MedCare-Registration Form</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css1/style.css' %}">
</head>
<body>
    <div class="registration-form container pt-10" style="width:800px; height:5px">
        <div>
            {% for message in messages %}
            <script>
                alert('{{message}}')
            </script>
            {% endfor %}
        </div>
        <div>
            <h2 class="text-center pb-3" style="color:cadetblue; border-radius:10px">
                Welcome To Registration
            </h2>
        </div>
        <form method="post" class="pb-2">
            {% csrf_token %}
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <div class="form-group">
                <input type="text" name="first_name" class="form-control item" id="first_name" placeholder="First Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" name="last_name" id="last_name" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" name="username" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="email" class="form-control item" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" name="password1" id="password1" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" name="password2" id="password2" placeholder="Confirm Password">
            </div>
            <div class="form-group">
                <button type="submit" value="Submit" class="btn btn-block create-account">Create Account</button>
            </div>
            <p class="text-center">Already have an account?
                <a href="/login" class="forgot" style="color: blueviolet; font-size:large "><b>Login</b></a> </p> 
            
        </form>
        <div class="social-media">
            <h5>Sign up with social media</h5>
            <div class="social-icons">
                <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
                <a href="#"><i class="icon-social-google" title="Google"></i></a>
                <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
            </div>
        </div>
        
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>

<!-- <!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        
        <input type="text" name="first_name" placeholder="First Name"><br>
        <input type="text" name="last_name" placeholder="Last Name"><br>
        <input type="text" name="username" placeholder="Username"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password1" placeholder="Password"><br>
        <input type="password" name="password2" placeholder="Confirm Password"><br>
        <button type="submit" value="Submit"> Submit</button>

    </form>

    <div>
        {% for message in messages %}
        <h1>{{message}}</h1>

        {% endfor %}
    </div>
    
</body>
</html> -->